<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://code.alibabatech.com/schema/dubbo
    http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<dubbo:consumer timeout="${dubbo.timeout}"></dubbo:consumer>

	<!-- 消费方应用名称信息，用于计算依赖关系，这个相当于起一个名字，我们dubbo管理页面比较清晰是哪个应用暴露出来的 -->
	<dubbo:application name="${dubbo.application.name}" />

	<!-- 使用zookeeper注册中心暴露服务地址 -->
	<dubbo:registry protocol="${dubbo.registry.protocol}" address="${dubbo.registry.address}" check="false" subscribe="" register="" />

	<!-- 扫描注解包路径，多个包用逗号分隔 -->
	<dubbo:annotation package="com.joseph.consumer.controller" />


</beans>
